.loading-table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 255px);
    background-color: rgb(0 0 0 / 60%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.main {
    position: relative;
    width: 100%;
    height: calc(100vh - 255px);
}
