.tabulator {
    font-size: 10px;
    border-top: 1px solid #ccc;
}
.tabulator-row {
    min-height: auto;
}
.tabulator-row.tabulator-row-even {
    background-color: #f5faff;
}
.tabulator-row.tabulator-selectable:hover {
    background-color: #dbfbfa;
}
.tabulator .tabulator-header {
    .tabulator-headers {
        .tabulator-col-content {
            font-weight: 300;
        }
        .tabulator-col {
            background-color: #e6e6e6;
            .tabulator-col-sorter {
                display: none;
            }
            input {
                font-size: 10px;
                border-radius: 0;
                border: 1px solid #ccc;
            }
        }
    }
}
.tabulator-edit-list-item {
    font-size: 10px;
}