.DS_Store

application/cache/
!application/cache/index.html

application/logs/
!application/logs/index.html

!application/*/.htaccess

/vendor/
/node_modules/
composer.lock
package-lock.json

public_html/public/files/
public_html/public/dev/
public_html/manage/vendor/