
// admin list_weekly

@charset "UTF-8";

@import "import/reset";
@import "import/common";
@import "import/common_admin";
@import "import/_table_custom";

.date-area {
  position: relative;
  .term-area {
    position: absolute;
    bottom: 5px;
    left: 25px;
    font-size: 11px;
    color: #4b4b4b;
  }
  .table-top-mark {
    position: absolute;
    bottom: 2px;
    left: 330px;
    font-size: 9px;
    font-weight: 700;
    padding: .5em 1em;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #8a8a8a;
    &:hover {
      opacity: .6;
    }
  }
  .on {
    background-color: #53a0a0;
  }
}