@charset "UTF-8";
@import "import/common";
@import "import/common_mypage_back";
@import "import/forms";
@import "import/button";
@import "import/payment_view";
@import "../../node_modules/siiimple-toast/src/style.scss";

// badge 
.badge {
	margin-left: 5px;
	font-size: 14px;
	font-weight: 600;
	display: none;
}
.nav-item {
	position: relative;
}
.badge-text1 {
	position: absolute;
	top: -3px;
	left: 115px;
	font-size: 9px;
	color: #0c5460;
	display: none;
}
.badge-text2 {
	position: absolute;
	top: -3px;
	left: 160px;
	font-size: 9px;
	color: #b71c1c;
	display: none;
}
